$fuentePrincipal: 'Montserrat', sans-serif;

//Colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;
//Media Queries
$movil: 480px;
$tablet: 768px;
$desktop: 1200px;

//fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


//separaciones

$separacion: 5rem;